@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
:root {
  /* FONT */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  /* font size: 1rem = 10px */
  font-size: 62.5%;
  /*COLORS*/
  --primary-background: linear-gradient(
		135deg,
		hsl(236, 72%, 79%),
		hsl(237, 63%, 64%)
	);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --horizontal-rule-gray: #dadbe3;
  --horizontal-rule-white: #aaaeef;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/*UTILITIES*/
/* font size and color */
.font-xxxl {
  font-size: 7.2rem;
}

.font-xxl {
  font-size: 4rem;
}

.font-xl {
  font-size: 3.2rem;
}

.font-l {
  font-size: 1.8rem;
}

.font-default {
  font-size: 1.5rem;
}

.font-small {
  font-size: 1.3rem;
}

.font-black {
  color: var(--dark-grayish-blue);
}

.font-white {
  color: #ffffff;
}

.font-gray {
  color: var(--grayish-blue);
}

.font-light-gray {
  color: var(--light-grayish-blue);
}

.main__btn {
  cursor: pointer;
  padding: 1.4rem 0;
  text-transform: uppercase;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main__btn p {
  letter-spacing: 1.39px;
}

.main__btn--purple {
  background: var(--primary-background);
  color: #ffffff;
}

.main__btn--purple:hover {
  background: transparent;
  color: #696fdd;
  -webkit-box-shadow: inset 0px 0px 0px 1px #696fdd;
          box-shadow: inset 0px 0px 0px 1px #696fdd;
}

.main__btn--white {
  background-color: #ffffff;
  color: #696fdd;
}

.main__btn--white:hover {
  background: transparent;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;
          box-shadow: inset 0px 0px 0px 1px #ffffff;
}

/*BASE STYLES*/
/*reset*/
body {
  text-align: center;
  background-color: var(--very-light-grayish-blue);
}

body,
p,
a,
ul,
li,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__card {
  border-radius: 1rem;
}

.main__card--white-bg {
  background: #ffffff;
}

.main__card--purple-bg {
  background: var(--primary-background);
}

.main__card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title__price-toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  margin: 5rem 0;
  color: var(--light-grayish-blue);
}

footer a {
  color: #696fdd;
  text-decoration: underline;
}

#switch {
  width: 56px;
  height: 32px;
  border-radius: 16px;
  background: var(--primary-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 2.4rem;
}

#switch.monthly {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#switch:hover {
  opacity: 50%;
}

.switch-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  margin: 4px;
}

/*MOBILE STYLES*/
body {
  background-image: url(/images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: 191px -35px;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 375px;
  padding: 0 2.4rem;
}

/*mobile spacing*/
header {
  margin-top: 6.4rem;
}

main {
  margin-top: 8rem;
}

.title__price-toggler {
  margin-top: 4.2rem;
}

.main__card {
  padding: 3.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 327px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
          box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
}

.main__card:not(:last-child) {
  margin-bottom: 3.2rem;
}

/*content within the card*/
.main__card-plan {
  line-height: 1.55;
  margin-bottom: 2.4rem;
}

.main__card-price {
  margin-bottom: 3.2rem;
}

.main__card-price-number {
  line-height: 0.986;
  letter-spacing: -2.16px;
}

.main__card-unit {
  letter-spacing: -1.2px;
  margin-right: 0.746rem;
}

.main__features {
  margin-bottom: 3.2rem;
}

.main__features .main__item {
  padding: 1.2rem 0;
  line-height: 1.87;
}

.card__background--white ul li {
  border-top: 1px solid var(--horizontal-rule-gray);
}

.card__background--white ul li:last-child {
  border-bottom: 1px solid var(--horizontal-rule-gray);
}

.card__background--purple ul li {
  border-top: 1px solid var(--horizontal-rule-white);
}

.card__background--purple ul li:last-child {
  border-bottom: 1px solid var(--horizontal-rule-white);
}

@media (min-width: 576px) {
  body {
    background-position: top right;
  }
}

@media (min-width: 992px) {
  :root {
    font-size: 55%;
  }
  main {
    margin-top: 6.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body {
    height: 100vh;
    background-image: url(/images/bg-top.svg), url(/images/bg-bottom.svg);
    background-position: top right, bottom left;
  }
  .container {
    padding: 0 2rem;
  }
  .main__card {
    margin: initial;
    min-width: 327px;
  }
  .main__card:not(:last-child) {
    margin-bottom: 0;
  }
  .main__card:nth-child(2) {
    padding: 5rem 3.1rem;
  }
}

@media (min-width: 1440px) {
  :root {
    font-size: 62.5%;
  }
  .container {
    padding: 0 19.5rem;
  }
  header {
    margin-top: 7.1rem;
  }
  .title__price-toggler {
    margin-top: 4rem;
  }
  .main__card {
    min-width: 350px;
  }
  .main__card:not(:nth-child(2)) {
    padding: 3.1rem;
  }
  .main__card:nth-child(2) {
    padding: 5.5rem 3.1rem;
  }
}
/*# sourceMappingURL=main.css.map */